// Colors
// ======

$blue     : hsl(195,100%,50%);
$orange   : hsl(24,100%,50%);
$green    : hsl(75,100%,50%);
$pink     : hsl(330,100%,50%);
$red      : hsl(0,100%,50%);

// Pallette
// --------

$base: color(dark);
$alt: $pink;
$accent: $blue;

$bg-color: white;
$text-color: $base;
