// Icons
// =====

@include set(icons, (
  github          : "\e600",
  twitter         : "\e601",
  stackoverflow   : "\e602",
  list            : "\e603",
  menu            : "\e1c9",
  external        : "\e319",
  logo            : "\e604",
));
