// Icons
// =====

@include set(icons, (
  github          :"\e600",
  twitter         :"\e601",
  stackoverflow   :"\e602",
  list            :"\e603",
  logo            :"\e604",
  menu            :"\e1c9",
  external        :"\e319",
  home            :"\e004",
  direction       :"\e0ae",
));
