// Banner
// ======

$nav-break: 50em;

[role="banner"] {
  @include span(10);
  @include trailer(.5);

  [rel="home"] {
    @include link {
      @include gutters;
      @include padding-leader(.675);
      @include font-size(xlarge);
      float: left;
      text-decoration: none;
    }
  }

  .p-name, .p-role {
    overflow: hidden;
    white-space: nowrap;
  }

  .p-name {
    @include padding-leader(.5);
    font-weight: bold;
  }

  em { font-style: italic; }

  @include breakpoint($nav-break) { width: span(4); }
}
