// Gallery
// =======

.gallery {
  @include susy-clearfix;
  @include trailer;

  > [href^="http"] {
    @include link {
      &:before { display: none; }
    }
  }

  > a, > img {
    @include gallery(5 of 10 after);
    @include trailer(.5);
    @include transition(all 200ms);
    @include box-shadow(0 0 size(xxxsmall) color(dark, .5));

    @include focus {
      @include box-shadow(0 0 size(xxxsmall) $accent);
      @include scale(1.05);
      z-index: 10;
    }
  }
}

.gallery-caption {
  @include break;
  @include font-size(small);
  font-style: italic;
}
