// Main
// ====

@mixin section-arrow(
  $color,
  $size: 1.5,
  $border: xxxsmall
) {
  $small: $size - .5;

  @include leading-border(scale($border), $size + 2);
  position: relative;
  border-color: $color;

  @include arrow(before down rhythm($size) $color) {
    margin-left: rhythm(- $size);
  }
  @include arrow(after down rhythm($small) $bg-color) {
    margin-left: rhythm(- $small);
  }

  &:before, &:after {
    left: 50%;
    top: - scale($border);
  }
}

.content {
  @include break;
  @include section-arrow($alt);
  background: $bg-color;
}

[role="main"] {
  @extend %type;
  @include container;

  > .section {
    @include gutters;
    @include leading-border(1px, 2);
    @include padding-trailer;
    border-color: color(lightest);
  }
}
