// Arrow Toolkit
// =============

@mixin arrow(
  $arrow
) {
  $size: 1em;
  $direction: down;
  $color: black;
  $position: before;
  $border: null;

  @each $item in $arrow {
    @if type-of($item) == number {
      $size: $item;
    } @else if type-of($item) == string {
      $item: if($item == up, top, if($item == down, bottom, $item));

      @if index(top right bottom left, $item) {
        $direction: $item;
        $border: opposite-position($item);
      } @else if index(before after, $item) {
        $position: $item;
      }
    } @else if type-of($item) == color {
      $color: $item;
    }
  }

  &:#{$position} {
    position: absolute;
    content: ' ';
    height: 0;
    width: 0;
    border: $size solid transparent;
    border-#{$direction}-width: 0;
    border-#{$border}-color: $color;

    @content;
  }
}
