// Color Toolkit
// =============

@include set(color-keywords, (
  lightest: 80%,
  lighter: 50%,
  light: 20%,
  dark: -20%,
  darker: -50%,
  darkest: -80%,
));

@function parse-color-args(
  $args
) {
  $color: hsl(0,0%,50%);
  $lightness: 0;
  $saturation: null;
  $has-color: false;

  @each $arg in $args {
    @if type-of($arg) == 'color' {
      $color: $arg;
      $has-color: true;
    }

    @else if type-of($arg) == 'number' {
      @if $has-color or length($args) == 1 {
        $lightness: $arg;
      } @else {
        $saturation: $arg;
      }
    }

    @else if type-of($arg) == 'string' {
      $lightness: get(color-keywords $arg);
    }
  }

  @return (
    color: $color,
    lightness: $lightness,
    saturation: $saturation,
  );
}

@function color(
  $args,
  $alpha: 1
) {
  $args: parse-color-args($args);
  $color: map-get($args, color);
  $lightness: map-get($args, lightness);
  $saturation: map-get($args, saturation);

  @if $lightness > 0 {
    $color: tint($color, $lightness);
  } @else if $lightness < 0 {
    $color: shade($color, abs($lightness));
  }

  @if $saturation {
    $color: scale-color($color, $saturation: $saturation);
  }

  @return rgba($color, $alpha)
}
