// Icon Toolkit
// ============

%icon {
  font-family: 'susy';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icons(
  $icons: get(icons)
) {
  [data-icon] {
    @extend %icon;
    &:before { content: attr(data-icon); }
  }
  @each $name, $value in $icons {
    [data-icon='#{$name}']:before { content: $value; }
  }
}
