// Scales
// ======

@include set(ratio-options, (
  octave           : 2,
  major-seventh    : 15/8,
  minor-seventh    : 16/9,
  major-sixth      : 5/3,
  minor-sixth      : 8/5,
  fifth            : 3/2,
  augmented-fourth : 45/32,
  fourth           : 4/3,
  major-third      : 5/4,
  minor-third      : 6/5,
  major-second     : 9/8,
  minor-second     : 16/15,
));

@include set(scale, (
  xxxlarge  : 4,
  xxlarge   : 3,
  xlarge    : 2,
  large     : 1,
  normal    : 0,
  small     : -1,
  xsmall    : -2,
  xxsmall   : -3,
  xxxsmall  : -4,
));

@include set(ratio, fourth);

@function scale(
  $multiplier: normal,
  $root: $base-font-size,
  $ratio: get(ratio)
) {
  @if type-of($multiplier) == string {
    $multiplier: get(scale $multiplier);
  }

  @if type-of($ratio) == string {
    $ratio: get(ratio-options $ratio);
  }

  @return round($root * pow($ratio, $multiplier));
}

@mixin font-size(
  $size: normal,
  $lines: false
){
  $output: if($lines, (lines: $lines), ());

  @if type-of($size) == string {
    $size: scale(get(scale $size));
  } @else if type-of($size) == number and unitless($size) {
    $size: scale($size)
  }

  $output: map-merge($output, (to_size: $size));

  @include adjust-font-size-to($output...);
}
