// Root
// ====

$grid-background-baseline-color: rgba(black, .125);

@include fonts;
@include establish-baseline;
@include border-box-sizing;

html {
  @extend %sans;
  @include padding-leader(.5);
  background: $bg-color;
  color: $text-color;
}

@include icons;
