@charset "UTF-8";
[data-icon] {
  font-family: 'susy';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('../../fonts/sans/sourcesanspro-regular-webfont.woff?1386694649') format("woff"), url('../../fonts/sans/sourcesanspro-regular-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../../fonts/sans/sourcesanspro-bold-webfont.woff?1386694649') format("woff"), url('../../fonts/sans/sourcesanspro-bold-webfont.ttf?1386694649') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../../fonts/sans/sourcesanspro-light-webfont.woff?1386694649') format("woff"), url('../../fonts/sans/sourcesanspro-light-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../../fonts/sans/sourcesanspro-italic-webfont.woff?1386694649') format("woff"), url('../../fonts/sans/sourcesanspro-italic-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../../fonts/sans/sourcesanspro-bolditalic-webfont.woff?1386694649') format("woff"), url('../../fonts/sans/sourcesanspro-bolditalic-webfont.ttf?1386694649') format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../../fonts/sans/sourcesanspro-lightitalic-webfont.woff?1386694649') format("woff"), url('../../fonts/sans/sourcesanspro-lightitalic-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SourceCodePro";
  src: url('../../fonts/code/sourcecodepro-regular-webfont.woff?1386694649') format("woff"), url('../../fonts/code/sourcecodepro-regular-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro";
  src: url('../../fonts/code/sourcecodepro-bold-webfont.woff?1386694649') format("woff"), url('../../fonts/code/sourcecodepro-bold-webfont.ttf?1386694649') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "BaskervilleAmp";
  src: url('../../fonts/amp/Baskerville-amp-webfont.woff?1386694649') format("woff"), url('../../fonts/amp/Baskerville-amp-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "susy";
  src: url('../../fonts/icons/susy.woff?1388967416') format("woff"), url('../../fonts/icons/susy.ttf?1388967416') format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: SourceSansPro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.amp {
  font-family: BaskervilleAmp, Baskerville, Palatino, Cambria, Georgia, serif;
}

html {
  font-size: 112.5%;
  line-height: 1.38889em;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  padding-top: 0.69444rem;
  background: white;
  color: #666666;
}

[data-icon]:before {
  content: attr(data-icon);
}

[data-icon='github']:before {
  content: "\e600";
}

[data-icon='twitter']:before {
  content: "\e601";
}

[data-icon='stackoverflow']:before {
  content: "\e602";
}

[data-icon='list']:before {
  content: "\e603";
}

[data-icon='logo']:before {
  content: "\e604";
}

[data-icon='menu']:before {
  content: "\e1c9";
}

[data-icon='external']:before {
  content: "\e319";
}

[data-icon='home']:before {
  content: "\e004";
}

[data-icon='direction']:before {
  content: "\e0ae";
}

.a11y-hidden, [id="toggle-nav"] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

a:link, a:visited {
  -moz-transition: color 150ms;
  -o-transition: color 150ms;
  -webkit-transition: color 150ms;
  transition: color 150ms;
  color: #ff0080;
}
a:hover, a:focus, a:active {
  color: deepskyblue;
}

.amp {
  font-style: normal !important;
}

[rel="home"]:link, [rel="home"]:visited {
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
  padding-top: 0.9375rem;
  font-size: 2.44444rem;
  line-height: 2.77778rem;
  float: left;
  text-decoration: none;
}

[role="banner"] {
  width: 83.33333%;
  float: left;
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
  margin-bottom: 0.69444rem;
}
[role="banner"] .p-name, [role="banner"] .p-role {
  overflow: hidden;
  white-space: nowrap;
}
[role="banner"] .p-name {
  padding-top: 0.69444rem;
  font-weight: bold;
}
[role="banner"] .p-name:after {
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  content: ' [soo·zee]';
  opacity: 0;
  color: #bfbfbf;
}
[role="banner"] em {
  font-style: italic;
}
[role="banner"]:hover .p-name:after, [role="banner"]:focus .p-name:after, [role="banner"]:active .p-name:after {
  opacity: 1;
}
@media (min-width: 55em) {
  [role="banner"] {
    width: 33.33333%;
  }
}

[role="navigation"] {
  padding-top: 0.69444rem;
}
@media (min-width: 36em) and (max-width: 55em) {
  [role="navigation"] {
    text-align: center;
  }
}
@media (min-width: 55em) {
  [role="navigation"] {
    width: 66.66667%;
    float: right;
    padding-left: 0.52083rem;
    padding-right: 0.52083rem;
    padding-top: 2.08333rem;
    text-align: right;
  }
}

[id="toggle-nav"]:checked ~ [for="toggle-nav"] {
  color: #ff0080;
}

[for="toggle-nav"] {
  width: 16.66667%;
  float: right;
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
  text-align: right;
}
[for="toggle-nav"]:hover, [for="toggle-nav"]:focus, [for="toggle-nav"]:active {
  color: #191919;
  cursor: pointer;
}
@media (min-width: 55em) {
  [for="toggle-nav"] {
    display: none;
  }
}

.nav-content {
  clear: both;
  border-top-width: 0.5rem;
  border-top-style: solid;
  padding-top: 0.54167rem;
  margin-bottom: -4.16667rem;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  border-color: #ff0080;
}
@media (max-width: 52em) {
  .nav-content {
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
}
@media (min-width: 55em) {
  .nav-content {
    margin-bottom: 0.69444rem;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    opacity: 1;
    max-height: 13.88889rem;
    border: 0;
    padding-top: 0;
  }
}

[id="toggle-nav"]:checked ~ .nav-content {
  margin-bottom: 0.69444rem;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  opacity: 1;
  max-height: 13.88889rem;
}

[data-nav] {
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
  display: block;
  white-space: nowrap;
}
[data-nav] [data-icon] {
  font-size: 0.77778rem;
  line-height: 1.38889rem;
}
[data-nav]:link, [data-nav]:visited {
  text-decoration: none;
}
[data-nav][href^='http://']:hover [data-icon]:before, [data-nav][href^='http://']:focus [data-icon]:before, [data-nav][href^='http://']:active [data-icon]:before {
  content: "\e319";
}
@media (min-width: 36em) {
  [data-nav] {
    display: inline-block;
  }
}

.content {
  clear: both;
  border-top-width: 0.5rem;
  border-top-style: solid;
  padding-top: 4.36111rem;
  position: relative;
  border-color: #ff0080;
  background: white;
}
.content:before {
  position: absolute;
  content: ' ';
  height: 0;
  width: 0;
  border: 2.08333rem solid transparent;
  border-bottom-width: 0;
  border-top-color: #ff0080;
  margin-left: -2.08333rem;
}
.content:after {
  position: absolute;
  content: ' ';
  height: 0;
  width: 0;
  border: 1.38889rem solid transparent;
  border-bottom-width: 0;
  border-top-color: white;
  margin-left: -1.38889rem;
}
.content:before, .content:after {
  left: 50%;
  top: -9px;
}

.foot {
  border-top-width: 0.5rem;
  border-top-style: solid;
  padding-top: 4.36111rem;
  position: relative;
  border-color: deepskyblue;
  border-bottom-width: 0.5rem;
  border-bottom-style: solid;
  padding-bottom: 0.88889rem;
  padding-top: 2.77778rem;
  padding-bottom: 0.69444rem;
  background-color: #ccf2ff;
}
.foot:before {
  position: absolute;
  content: ' ';
  height: 0;
  width: 0;
  border: 2.08333rem solid transparent;
  border-bottom-width: 0;
  border-top-color: deepskyblue;
  margin-left: -2.08333rem;
}
.foot:after {
  position: absolute;
  content: ' ';
  height: 0;
  width: 0;
  border: 1.38889rem solid transparent;
  border-bottom-width: 0;
  border-top-color: white;
  margin-left: -1.38889rem;
}
.foot:before, .foot:after {
  left: 50%;
  top: -9px;
}

[role="contentinfo"] {
  overflow: hidden;
  *zoom: 1;
  font-size: 0.88889rem;
  line-height: 1.38889rem;
}
[role="contentinfo"] p {
  margin-bottom: 1.38889rem;
}
[role="contentinfo"] .credit, [role="contentinfo"] .colophon {
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
}
[role="contentinfo"] .credit {
  font-style: italic;
}
[role="contentinfo"] .license {
  font-style: normal;
}
[role="contentinfo"] .license:after {
  content: ' | ';
}

@media (min-width: 40em) {
  .foot {
    padding-top: 1.38889rem;
    padding-bottom: 0rem;
  }

  .credit, .colophon {
    width: 50%;
    float: left;
    padding-left: 0.52083rem;
    padding-right: 0.52083rem;
    max-width: 26.38889rem;
  }

  .colophon {
    float: right;
  }
}
.head {
  overflow: hidden;
  *zoom: 1;
}

.c {
  color: #bfbfbf;
}

/* Comment */
.err {
  color: #bfbfbf;
}

/* Error */
.g {
  color: #999999;
}

/* Generic */
.k {
  color: #666666;
}

/* Keyword */
.l {
  color: #999999;
}

/* Literal */
.n {
  color: #999999;
}

/* Name */
.o {
  color: #666666;
}

/* Operator */
.x {
  color: deepskyblue;
}

/* Other */
.p {
  color: #666666;
}

/* Punctuation */
.cm {
  color: #bfbfbf;
}

/* Comment.Multiline */
.cp {
  color: #666666;
}

/* Comment.Preproc */
.c1 {
  color: #bfbfbf;
}

/* Comment.Single */
.cs {
  color: #666666;
}

/* Comment.Special */
.gd {
  color: #ff0080;
}

/* Generic.Deleted */
.ge {
  color: #bfbfbf;
  font-style: italic;
}

/* Generic.Emph */
.gr {
  color: deepskyblue;
}

/* Generic.Error */
.gh {
  color: deepskyblue;
}

/* Generic.Heading */
.gi {
  color: #666666;
}

/* Generic.Inserted */
.go {
  color: #bfbfbf;
}

/* Generic.Output */
.gp {
  color: #bfbfbf;
}

/* Generic.Prompt */
.gs {
  color: #bfbfbf;
  font-weight: bold;
}

/* Generic.Strong */
.gu {
  color: deepskyblue;
}

/* Generic.Subheading */
.gt {
  color: #bfbfbf;
}

/* Generic.Traceback */
.kc {
  color: deepskyblue;
}

/* Keyword.Constant */
.kd {
  color: deepskyblue;
}

/* Keyword.Declaration */
.kn {
  color: #666666;
}

/* Keyword.Namespace */
.kp {
  color: #666666;
}

/* Keyword.Pseudo */
.kr {
  color: deepskyblue;
}

/* Keyword.Reserved */
.kt {
  color: deepskyblue;
}

/* Keyword.Type */
.ld {
  color: #bfbfbf;
}

/* Literal.Date */
.m {
  color: #ff0080;
}

/* Literal.Number */
.s {
  color: #ff0080;
}

/* Literal.String */
.na {
  color: #cc0000;
}

/* Name.Attribute */
.nb {
  color: deepskyblue;
}

/* Name.Builtin */
.nc {
  color: #ff0080;
}

/* Name.Class */
.no {
  color: deepskyblue;
}

/* Name.Constant */
.nd {
  color: deepskyblue;
}

/* Name.Decorator */
.ni {
  color: deepskyblue;
}

/* Name.Entity */
.ne {
  color: deepskyblue;
}

/* Name.Exception */
.nf {
  color: deepskyblue;
}

/* Name.Function */
.nl {
  color: #bfbfbf;
}

/* Name.Label */
.nn {
  color: #ff0080;
}

/* Name.Namespace */
.nx {
  color: #bfbfbf;
}

/* Name.Other */
.py {
  color: #bfbfbf;
}

/* Name.Property */
.nt {
  color: #005f7f;
}

/* Name.Tag */
.nv {
  color: #005f7f;
}

/* Name.Variable */
.ow {
  color: #666666;
}

/* Operator.Word */
.w {
  color: #bfbfbf;
}

/* Text.Whitespace */
.mf {
  color: #ff0080;
}

/* Literal.Number.Float */
.mh {
  color: #ff0080;
}

/* Literal.Number.Hex */
.mi {
  color: #ff0080;
}

/* Literal.Number.Integer */
.mo {
  color: #ff0080;
}

/* Literal.Number.Oct */
.sb {
  color: #bfbfbf;
}

/* Literal.String.Backtick */
.sc {
  color: #ff0080;
}

/* Literal.String.Char */
.sd {
  color: #bfbfbf;
}

/* Literal.String.Doc */
.s2 {
  color: #ff0080;
}

/* Literal.String.Double */
.se {
  color: deepskyblue;
}

/* Literal.String.Escape */
.sh {
  color: #bfbfbf;
}

/* Literal.String.Heredoc */
.si {
  color: #ff0080;
}

/* Literal.String.Interpol */
.sx {
  color: #ff0080;
}

/* Literal.String.Other */
.sr {
  color: deepskyblue;
}

/* Literal.String.Regex */
.s1 {
  color: #ff0080;
}

/* Literal.String.Single */
.ss {
  color: #ff0080;
}

/* Literal.String.Symbol */
.bp {
  color: deepskyblue;
}

/* Name.Builtin.Pseudo */
.vc {
  color: deepskyblue;
}

/* Name.Variable.Class */
.vg {
  color: deepskyblue;
}

/* Name.Variable.Global */
.vi {
  color: deepskyblue;
}

/* Name.Variable.Instance */
.il {
  color: #ff0080;
}

/* Literal.Number.Integer.Long */
