// Root
// ====

$grid-background-baseline-color: rgba(black, .125);

@include fonts;
@include establish-baseline;
@include border-box-sizing;
@include icon-placeholder(susy);

html {
  @extend %sans;
  background: color(lightest $accent);
  color: $text-color;
}

@include data-icons;
