{% extends "layout.html" %}
{% block title %}Blog Archive for {{ entry.month_name}}, {{ entry.year }}{% endblock %}
{% block main %}

  <h1 class="title">
    <a href="{{ link_to('blog_archive') }}">Archive</a>:
    {{ entry.month_name }},
    <a href="{{ link_to('blog_archive', year=entry.year) }}">{{ entry.year }}</a>
  </h1>

  <ul class="blog-archive">
    {%- for entry in entry.entries %}
      <li>
        <time datetime="{{ entry.pub_date.isoformat() }}">
          {%- if entry.pub_date %}{{ entry.pub_date.strftime("%m/%d/%y") }}{% endif %}
        </time>
        <a href="{{ link_to('page', slug=entry.slug) }}">{{ entry.title }}</a>
      </li>
    {%- endfor %}
  </ul>
{% endblock %}
