// Map Tests
// =========

@include test-module('map toolkit') {

  // Truncate List
  // -------------
  @include test('truncate-list') {
    $list: one two three four;
    $test: truncate-list($list, 3);
    $expect: one two three;
    @include assert-equal($test, $expect,
      'Returns a list truncated to the given length.');
  }

  // Deep Get
  // --------
  @include test('deep-get') {
    $map: (
      one: (
        hello: (
          world: new york,
          pizza: sausage,
        ),
        goodbye: fugard,
      ),
      two: cheese,
    );
    $test: deep-get($map, one, hello, world);
    $expect: new york;
    @include assert-equal($test, $expect,
      'Returns value of deep key.');
  }

  // Deep Set
  // --------
  @include test('deep-set') {
    $map: (
      one: (
        hello: (
          world: new york,
          pizza: sausage,
        ),
        goodbye: fugard,
      ),
      two: cheese,
    );
    $test: deep-set($map, one hello pizza, yum);
    $expect: (
      one: (
        hello: (
          world: new york,
          pizza: yum,
        ),
        goodbye: fugard,
      ),
      two: cheese,
    );
    @include assert-equal($test, $expect,
      'Returns map with deep value adjusted.');
  }
}
