<section id="{{ module.id|default('news') }}">
  <h2 class="section-title">{{ module.title|default('News') }}</h2>

  {% set more=true %}
  {% include "modules/_screenshots_gallery.html" %}

  {% if config.news %}

  {% for feature in config.news|groupby('feature') %}
  {% if feature.grouper %}
    <h3 class="news-title">Recent News</h3>
    <ul class="news-list">
      {% for item in feature.list %}
      <li class="news-item">
        <strong>
          <a href="{{ item.url }}" class="ni-title">{{ item.title }}</a>
        </strong>
        <span class="ni-type">[{{ item.type }}]</span> —
        {% if item.author %}
          <span class="ni-author">{{ item.author }}</span>{% if item.source %},{% endif %}
        {% endif %}
        {% if item.source %}<span class="ni-source">{{ item.source }}</span>{% endif %}
      </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endfor %}

  {% endif %}
</section>
