<aside id="release-info" class="release-info">
  <h2>Versions</h2>
  {% for version in config.versions %}
    <div class="version">
      <strong class="version-title">
        {{ version.title }}
        <a href="{{ version.gem|default('https://rubygems.org/gems/susy') }}">{{ version.number }}</a>:
      </strong>
      <ul class="version-details">
        {% if version.notes %}
        <li class="version-notes">
          <a href="{{ version.notes }}">Changes</a>
        </li>
        {% endif %}
        {% if version.upgrade %}
        <li class="version-upgrade">
          <a href="{{ version.upgrade }}">Upgrade Path</a>
        </li>
        {% endif %}
        {% if version.code %}
        <li class="version-code">
          <a href="{{ version.code }}">Code</a>
        </li>
        {% endif %}
      </ul>
    </div>
  {% endfor %}
</aside>
