<div class="gallery screenshots">
  {% for shot in config.screenshots %}
    <a href="{{ shot.target }}" class="site-link" style="background-image: url({{ shot.image }});">
      <span class="site-name">{{ shot.alt }}</span>
    </a>
  {% endfor %}

  {% if more or module.more %}
    <p class="gallery-caption">
      See more <a href="/sites-using-susy/#everyone">sites using Susy</a>,
      or <a href="https://github.com/ericam/susysite/tree/master/content/sites-using-susy.rst">add your own</a> »
    </p>
  {% endif %}
</div>
