@charset "UTF-8";
[data-icon] {
  font-family: 'susy';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-regular-webfont.woff?1386694649') format("woff"), url('../fonts/sans/sourcesanspro-regular-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-bold-webfont.woff?1386694649') format("woff"), url('../fonts/sans/sourcesanspro-bold-webfont.ttf?1386694649') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-light-webfont.woff?1386694649') format("woff"), url('../fonts/sans/sourcesanspro-light-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-italic-webfont.woff?1386694649') format("woff"), url('../fonts/sans/sourcesanspro-italic-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-bolditalic-webfont.woff?1386694649') format("woff"), url('../fonts/sans/sourcesanspro-bolditalic-webfont.ttf?1386694649') format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-lightitalic-webfont.woff?1386694649') format("woff"), url('../fonts/sans/sourcesanspro-lightitalic-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SourceCodePro";
  src: url('../fonts/code/sourcecodepro-regular-webfont.woff?1386694649') format("woff"), url('../fonts/code/sourcecodepro-regular-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro";
  src: url('../fonts/code/sourcecodepro-bold-webfont.woff?1386694649') format("woff"), url('../fonts/code/sourcecodepro-bold-webfont.ttf?1386694649') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "BaskervilleAmp";
  src: url('../fonts/amp/Baskerville-amp-webfont.woff?1386694649') format("woff"), url('../fonts/amp/Baskerville-amp-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "susy";
  src: url('../fonts/icons/susy.woff?1388131110') format("woff"), url('../fonts/icons/susy.ttf?1388131110') format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: SourceSansPro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

[role="main"] tt, [role="main"] code, [role="main"] pre {
  font-family: SourceCodePro, Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

.amp {
  font-family: BaskervilleAmp, Baskerville, Palatino, Cambria, Georgia, serif;
}

html {
  font-size: 112.5%;
  line-height: 1.38889em;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  padding-top: 0.69444rem;
  background: white;
  color: #666666;
}

[data-icon]:before {
  content: attr(data-icon);
}

[data-icon='github']:before {
  content: "\e600";
}

[data-icon='twitter']:before {
  content: "\e601";
}

[data-icon='stackoverflow']:before {
  content: "\e602";
}

[data-icon='list']:before {
  content: "\e603";
}

[data-icon='menu']:before {
  content: "\e1c9";
}

[data-icon='external']:before {
  content: "\e319";
}

[data-icon='logo']:before {
  content: "\e604";
}

.a11y-hidden, [id="toggle-nav"] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

[role="main"] h1 {
  margin-bottom: 1.38889rem;
  font-size: 1.38889rem;
  line-height: 2.77778rem;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  text-align: center;
}
@media (min-width: 30em) {
  [role="main"] h1 {
    font-size: 2.44444rem;
    line-height: 2.77778rem;
    margin-bottom: 2.77778rem;
  }
}

[role="main"] h2, .contents .topic-title, [role="main"] h3, [role="main"] h4 {
  margin-bottom: 0.69444rem;
  position: relative;
}

[role="main"] h2, .contents .topic-title {
  text-transform: uppercase;
  font-weight: bold;
}

[role="main"] h3 {
  text-transform: uppercase;
}

[role="main"] h4 {
  font-style: italic;
}
[role="main"] h4:before {
  content: ' » ';
  position: absolute;
  right: 100%;
  margin-right: .4em;
}

a:link, a:visited {
  color: #ff0080;
}
a:hover, a:focus, a:active {
  color: deepskyblue;
}

[role="main"] strong {
  font-weight: bold;
}
[role="main"] em, [role="main"] blockquote {
  font-style: italic;
}
[role="main"] p, [role="main"] ul, [role="main"] ol, [role="main"] pre, [role="main"] blockquote {
  margin-bottom: 1.38889rem;
}
[role="main"] p:empty {
  display: none;
}
[role="main"] ul {
  list-style-type: disc;
}
[role="main"] ol {
  list-style-type: decimal;
}
[role="main"] tt, [role="main"] code, [role="main"] pre {
  font-size: 0.88889rem;
  line-height: 1.38889rem;
}
[role="main"] tt {
  display: inline-block;
  padding: 0 0.34722rem;
  background-color: rgba(255, 204, 229, 0.25);
}
[role="main"] pre {
  overflow-x: auto;
  padding: 0.69444rem;
  border-left: 0.34722rem solid rgba(255, 204, 229, 0.5);
  background: #fcfcfc;
}
[role="main"] blockquote {
  padding: 0 1.04167rem;
  border-left: 0.34722rem solid;
}
[role="main"] blockquote em {
  font-style: normal;
}
[role="main"] ul, [role="main"] ol, [role="main"] blockquote {
  margin-left: 1.38889rem;
}
@media (min-width: 48em) {
  [role="main"] ul, [role="main"] ol, [role="main"] blockquote {
    margin-left: 0;
  }
}
[role="main"] ul ul, [role="main"] ul ol, [role="main"] ol ul, [role="main"] ol ol, [role="main"] blockquote ul, [role="main"] blockquote ol {
  margin-left: 1.38889rem;
}
[role="main"] img {
  max-width: 100%;
}

.amp {
  font-style: normal !important;
}

.gallery > a, .gallery > img {
  width: 48.97959%;
  float: left;
  margin-bottom: 0.69444rem;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -moz-box-shadow: 0 0 9px rgba(102, 102, 102, 0.5);
  -webkit-box-shadow: 0 0 9px rgba(102, 102, 102, 0.5);
  box-shadow: 0 0 9px rgba(102, 102, 102, 0.5);
}
.gallery > a:nth-child(2n + 1), .gallery > img:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
.gallery > a:nth-child(2n + 2), .gallery > img:nth-child(2n + 2) {
  margin-left: 51.02041%;
  margin-right: -100%;
  clear: none;
}
.gallery > a:hover, .gallery > a:focus, .gallery > a:active, .gallery > img:hover, .gallery > img:focus, .gallery > img:active {
  -moz-box-shadow: 0 0 9px deepskyblue;
  -webkit-box-shadow: 0 0 9px deepskyblue;
  box-shadow: 0 0 9px deepskyblue;
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  z-index: 10;
}

.gallery-caption {
  clear: both;
}

[rel="home"]:link, [rel="home"]:visited {
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
  padding-top: 0.9375rem;
  font-size: 2.44444rem;
  line-height: 2.77778rem;
  float: left;
  text-decoration: none;
}

[role="banner"] {
  width: 83.33333%;
  float: left;
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
  margin-bottom: 0.69444rem;
}
[role="banner"] .p-name, [role="banner"] .p-role {
  overflow: hidden;
  white-space: nowrap;
}
[role="banner"] .p-name {
  padding-top: 0.69444rem;
  font-weight: bold;
}
[role="banner"] .p-name:after {
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  content: ' [soo·zee]';
  opacity: 0;
  color: #bfbfbf;
}
[role="banner"] em {
  font-style: italic;
}
[role="banner"]:hover .p-name:after, [role="banner"]:focus .p-name:after, [role="banner"]:active .p-name:after {
  opacity: 1;
}
@media (min-width: 50em) {
  [role="banner"] {
    width: 33.33333%;
  }
}

[role="navigation"] {
  padding-top: 0.69444rem;
}
@media (min-width: 30em) and (max-width: 50em) {
  [role="navigation"] {
    text-align: center;
  }
}
@media (min-width: 50em) {
  [role="navigation"] {
    width: 66.66667%;
    float: right;
    padding-left: 0.52083rem;
    padding-right: 0.52083rem;
    padding-top: 2.08333rem;
    text-align: right;
  }
}

[id="toggle-nav"]:checked ~ [for="toggle-nav"] {
  color: #ff0080;
}

[for="toggle-nav"] {
  width: 16.66667%;
  float: right;
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
  text-align: right;
}
@media (min-width: 50em) {
  [for="toggle-nav"] {
    display: none;
  }
}

.nav-content {
  clear: both;
  border-top-width: 0.5rem;
  border-top-style: solid;
  padding-top: 0.54167rem;
  margin-bottom: -4.16667rem;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  border-color: #ff0080;
}
@media (max-width: 47em) {
  .nav-content {
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
}
@media (min-width: 50em) {
  .nav-content {
    margin-bottom: 0.69444rem;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    opacity: 1;
    max-height: 13.88889rem;
    border: 0;
    padding-top: 0;
  }
}

[id="toggle-nav"]:checked ~ .nav-content {
  margin-bottom: 0.69444rem;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  opacity: 1;
  max-height: 13.88889rem;
}

[data-nav] {
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
  display: block;
  white-space: nowrap;
}
[data-nav] [data-icon] {
  font-size: 0.77778rem;
  line-height: 1.38889rem;
}
[data-nav]:link, [data-nav]:visited {
  text-decoration: none;
}
[data-nav]:hover [data-icon]:before, [data-nav]:focus [data-icon]:before, [data-nav]:active [data-icon]:before {
  content: "\e319";
}
@media (min-width: 30em) {
  [data-nav] {
    display: inline-block;
  }
}

.content {
  clear: both;
  border-top-width: 0.5rem;
  border-top-style: solid;
  padding-top: 4.36111rem;
  position: relative;
  border-color: #ff0080;
  background: white;
}
.content:before {
  position: absolute;
  content: ' ';
  height: 0;
  width: 0;
  border: 2.08333rem solid transparent;
  border-bottom-width: 0;
  border-top-color: #ff0080;
  margin-left: -2.08333rem;
}
.content:after {
  position: absolute;
  content: ' ';
  height: 0;
  width: 0;
  border: 1.38889rem solid transparent;
  border-bottom-width: 0;
  border-top-color: white;
  margin-left: -1.38889rem;
}
.content:before, .content:after {
  left: 50%;
  top: -9px;
}

[role="main"] {
  *zoom: 1;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}
[role="main"]:after {
  content: " ";
  display: block;
  clear: both;
}
[role="main"] > .section, [role="main"] > .contents {
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
  border-top-width: 0.05556rem;
  border-top-style: solid;
  padding-top: 2.72222rem;
  padding-bottom: 1.38889rem;
  border-color: #e5e5e5;
}

.foot {
  border-top-width: 0.5rem;
  border-top-style: solid;
  padding-top: 4.36111rem;
  position: relative;
  border-color: deepskyblue;
  padding-top: 2.77778rem;
  padding-bottom: 0.69444rem;
  background-color: #ccf2ff;
}
.foot:before {
  position: absolute;
  content: ' ';
  height: 0;
  width: 0;
  border: 2.08333rem solid transparent;
  border-bottom-width: 0;
  border-top-color: deepskyblue;
  margin-left: -2.08333rem;
}
.foot:after {
  position: absolute;
  content: ' ';
  height: 0;
  width: 0;
  border: 1.38889rem solid transparent;
  border-bottom-width: 0;
  border-top-color: white;
  margin-left: -1.38889rem;
}
.foot:before, .foot:after {
  left: 50%;
  top: -9px;
}

[role="contentinfo"] {
  overflow: hidden;
  *zoom: 1;
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
  font-size: 0.88889rem;
  line-height: 1.38889rem;
}
[role="contentinfo"] p {
  margin-bottom: 1.38889rem;
}
[role="contentinfo"] .credit {
  font-style: italic;
}
[role="contentinfo"] .license {
  font-style: normal;
}
[role="contentinfo"] .license:after {
  content: ' | ';
}

@media (min-width: 40em) {
  .foot {
    padding-top: 1.38889rem;
    padding-bottom: 0rem;
  }

  .credit, .colophon {
    width: 50%;
    float: left;
    padding-left: 0.52083rem;
    padding-right: 0.52083rem;
    max-width: 25rem;
  }

  .colophon {
    float: right;
  }
}
.sitelist ul {
  list-style-type: none;
}
.sitelist ul, .sitelist ul li {
  margin: 0;
  padding: 0;
  display: inline;
}
.sitelist ul li:after {
  content: ", ";
}
.sitelist ul li:last-child:after {
  content: "";
}
.sitelist ul li.last:after {
  content: "";
}
.sitelist ul {
  margin-bottom: 1.38889rem;
  display: block;
}

.contents > ul ul {
  list-style-type: none;
  font-style: italic;
}
.contents > ul ul, .contents > ul ul li {
  margin: 0;
  padding: 0;
  display: inline;
}
.contents > ul ul li:after {
  content: ", ";
}
.contents > ul ul li:last-child:after {
  content: "";
}
.contents > ul ul li.last:after {
  content: "";
}
.contents > ul ul {
  display: block;
}
.contents > ul a {
  display: inline-block;
}

.head {
  overflow: hidden;
  *zoom: 1;
}

.c {
  color: #bfbfbf;
}

/* Comment */
.err {
  color: #bfbfbf;
}

/* Error */
.g {
  color: #999999;
}

/* Generic */
.k {
  color: #666666;
}

/* Keyword */
.l {
  color: #999999;
}

/* Literal */
.n {
  color: #999999;
}

/* Name */
.o {
  color: #666666;
}

/* Operator */
.x {
  color: deepskyblue;
}

/* Other */
.p {
  color: #666666;
}

/* Punctuation */
.cm {
  color: #bfbfbf;
}

/* Comment.Multiline */
.cp {
  color: #666666;
}

/* Comment.Preproc */
.c1 {
  color: #bfbfbf;
}

/* Comment.Single */
.cs {
  color: #666666;
}

/* Comment.Special */
.gd {
  color: #ff0080;
}

/* Generic.Deleted */
.ge {
  color: #bfbfbf;
  font-style: italic;
}

/* Generic.Emph */
.gr {
  color: deepskyblue;
}

/* Generic.Error */
.gh {
  color: deepskyblue;
}

/* Generic.Heading */
.gi {
  color: #666666;
}

/* Generic.Inserted */
.go {
  color: #bfbfbf;
}

/* Generic.Output */
.gp {
  color: #bfbfbf;
}

/* Generic.Prompt */
.gs {
  color: #bfbfbf;
  font-weight: bold;
}

/* Generic.Strong */
.gu {
  color: deepskyblue;
}

/* Generic.Subheading */
.gt {
  color: #bfbfbf;
}

/* Generic.Traceback */
.kc {
  color: deepskyblue;
}

/* Keyword.Constant */
.kd {
  color: deepskyblue;
}

/* Keyword.Declaration */
.kn {
  color: #666666;
}

/* Keyword.Namespace */
.kp {
  color: #666666;
}

/* Keyword.Pseudo */
.kr {
  color: deepskyblue;
}

/* Keyword.Reserved */
.kt {
  color: deepskyblue;
}

/* Keyword.Type */
.ld {
  color: #bfbfbf;
}

/* Literal.Date */
.m {
  color: #ff0080;
}

/* Literal.Number */
.s {
  color: #ff0080;
}

/* Literal.String */
.na {
  color: #cc0000;
}

/* Name.Attribute */
.nb {
  color: deepskyblue;
}

/* Name.Builtin */
.nc {
  color: #ff0080;
}

/* Name.Class */
.no {
  color: deepskyblue;
}

/* Name.Constant */
.nd {
  color: deepskyblue;
}

/* Name.Decorator */
.ni {
  color: deepskyblue;
}

/* Name.Entity */
.ne {
  color: deepskyblue;
}

/* Name.Exception */
.nf {
  color: deepskyblue;
}

/* Name.Function */
.nl {
  color: #bfbfbf;
}

/* Name.Label */
.nn {
  color: #ff0080;
}

/* Name.Namespace */
.nx {
  color: #bfbfbf;
}

/* Name.Other */
.py {
  color: #bfbfbf;
}

/* Name.Property */
.nt {
  color: #005f7f;
}

/* Name.Tag */
.nv {
  color: #005f7f;
}

/* Name.Variable */
.ow {
  color: #666666;
}

/* Operator.Word */
.w {
  color: #bfbfbf;
}

/* Text.Whitespace */
.mf {
  color: #ff0080;
}

/* Literal.Number.Float */
.mh {
  color: #ff0080;
}

/* Literal.Number.Hex */
.mi {
  color: #ff0080;
}

/* Literal.Number.Integer */
.mo {
  color: #ff0080;
}

/* Literal.Number.Oct */
.sb {
  color: #bfbfbf;
}

/* Literal.String.Backtick */
.sc {
  color: #ff0080;
}

/* Literal.String.Char */
.sd {
  color: #bfbfbf;
}

/* Literal.String.Doc */
.s2 {
  color: #ff0080;
}

/* Literal.String.Double */
.se {
  color: deepskyblue;
}

/* Literal.String.Escape */
.sh {
  color: #bfbfbf;
}

/* Literal.String.Heredoc */
.si {
  color: #ff0080;
}

/* Literal.String.Interpol */
.sx {
  color: #ff0080;
}

/* Literal.String.Other */
.sr {
  color: deepskyblue;
}

/* Literal.String.Regex */
.s1 {
  color: #ff0080;
}

/* Literal.String.Single */
.ss {
  color: #ff0080;
}

/* Literal.String.Symbol */
.bp {
  color: deepskyblue;
}

/* Name.Builtin.Pseudo */
.vc {
  color: deepskyblue;
}

/* Name.Variable.Class */
.vg {
  color: deepskyblue;
}

/* Name.Variable.Global */
.vi {
  color: deepskyblue;
}

/* Name.Variable.Instance */
.il {
  color: #ff0080;
}

/* Literal.Number.Integer.Long */
