@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.is-hidden, [id="toggle-nav"], .release-info h2 {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.content::after, .content::before, .foot::after, .foot::before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-regular-webfont.woff?1386694649') format("woff"), url('../fonts/sans/sourcesanspro-regular-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-bold-webfont.woff?1386694649') format("woff"), url('../fonts/sans/sourcesanspro-bold-webfont.ttf?1386694649') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-light-webfont.woff?1386694649') format("woff"), url('../fonts/sans/sourcesanspro-light-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-italic-webfont.woff?1386694649') format("woff"), url('../fonts/sans/sourcesanspro-italic-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-bolditalic-webfont.woff?1386694649') format("woff"), url('../fonts/sans/sourcesanspro-bolditalic-webfont.ttf?1386694649') format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/sans/sourcesanspro-lightitalic-webfont.woff?1386694649') format("woff"), url('../fonts/sans/sourcesanspro-lightitalic-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SourceCodePro";
  src: url('../fonts/code/sourcecodepro-regular-webfont.woff?1386694649') format("woff"), url('../fonts/code/sourcecodepro-regular-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro";
  src: url('../fonts/code/sourcecodepro-bold-webfont.woff?1386694649') format("woff"), url('../fonts/code/sourcecodepro-bold-webfont.ttf?1386694649') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "BaskervilleAmp";
  src: url('../fonts/amp/Baskerville-amp-webfont.woff?1386694649') format("woff"), url('../fonts/amp/Baskerville-amp-webfont.ttf?1386694649') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "susy";
  src: url('../fonts/icons/susy.woff?1388967416') format("woff"), url('../fonts/icons/susy.ttf?1388967416') format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: SourceSansPro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

[role="main"] tt, [role="main"] code, [role="main"] pre {
  font-family: SourceCodePro, Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

.amp {
  font-family: BaskervilleAmp, Baskerville, Palatino, Cambria, Georgia, serif;
}

html {
  font-size: 112.5%;
  line-height: 1.38889em;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[data-icon], .version-details [href^='http']::before, .version-details [href*="github"]::before, .version-details [href*="susydocs"]::before {
  font-family: susy;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-icon]::before {
  content: attr(data-icon);
}

html {
  background: #ccf2ff;
  color: #666666;
}

[data-icon='github']:before {
  content: "\e600";
}

[data-icon='twitter']:before {
  content: "\e601";
}

[data-icon='stackoverflow']:before {
  content: "\e602";
}

[data-icon='list']:before {
  content: "\e603";
}

[data-icon='logo']:before {
  content: "\e604";
}

[data-icon='menu']:before {
  content: "\e1c9";
}

[data-icon='external']:before {
  content: "\e319";
}

[data-icon='home']:before {
  content: "\e004";
}

[data-icon='direction']:before {
  content: "\e0ae";
}

[role="main"] h1 {
  font-size: 1.38889rem;
  line-height: 2.77778rem;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  padding-bottom: 1.38889rem;
  text-align: center;
}
@media (min-width: 30em) {
  [role="main"] h1 {
    font-size: 2.44444rem;
    line-height: 2.77778rem;
    padding-bottom: 2.77778rem;
  }
}

[role="main"] h2, .contents .topic-title, [role="main"] h3, [role="main"] h4 {
  margin-bottom: 0.69444rem;
  position: relative;
}

[role="main"] h2, .contents .topic-title {
  text-transform: uppercase;
  font-weight: bold;
}

[role="main"] h3 {
  text-transform: uppercase;
}

[role="main"] h4 {
  font-style: italic;
}
[role="main"] h4:before {
  content: ' » ';
  position: absolute;
  right: 100%;
  margin-right: .4em;
}

a:link, a:visited {
  -moz-transition: color 150ms;
  -o-transition: color 150ms;
  -webkit-transition: color 150ms;
  transition: color 150ms;
  color: #ff0080;
}
a:hover, a:focus, a:active {
  color: deepskyblue;
}

[role="main"] strong {
  font-weight: bold;
}
[role="main"] em {
  font-style: italic;
}
[role="main"] p, [role="main"] ul, [role="main"] ol, [role="main"] pre {
  margin-bottom: 1.38889rem;
}
[role="main"] p:empty {
  display: none;
}
[role="main"] ul {
  list-style-type: disc;
}
[role="main"] ol {
  list-style-type: decimal;
}
[role="main"] tt, [role="main"] code, [role="main"] pre {
  font-size: 0.88889rem;
  line-height: 1.38889rem;
}
[role="main"] tt, [role="main"] code {
  display: inline-block;
  color: #404040;
}
[role="main"] pre {
  overflow-x: auto;
  padding: 0.69444rem;
  border-left: 0.34722rem solid rgba(255, 204, 229, 0.5);
  background: #fcfcfc;
}
@media (min-width: 50em) {
  [role="main"] pre {
    margin-left: -1.04167rem;
    margin-right: -1.04167rem;
  }
}
[role="main"] blockquote {
  margin-bottom: 2.77778rem;
  padding: 0 1.38889rem;
  border-left: #e5e5e5 0.34722rem solid;
}
[role="main"] ul, [role="main"] ol {
  margin-left: 1.38889rem;
}
@media (min-width: 48em) {
  [role="main"] ul, [role="main"] ol {
    margin-left: 0;
  }
}
[role="main"] ul ul, [role="main"] ul ol, [role="main"] ol ul, [role="main"] ol ol {
  margin-left: 1.38889rem;
}
@media (min-width: 50em) {
  [role="main"] blockquote {
    margin-left: -1.38889rem;
  }
}
[role="main"] img {
  max-width: 100%;
  vertical-align: top;
}
[role="main"] .video {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  width: 100%;
  border: 1px solid #bfbfbf;
}
[role="main"] .video > * {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
[role="main"] .quote-body {
  font-size: 2.44444rem;
  line-height: 2.77778rem;
  margin-bottom: 0.69444rem;
  text-indent: -0.35em;
}
[role="main"] .quote-body::before, [role="main"] .quote-body::after {
  content: "“";
}
[role="main"] .quote-body::after {
  content: "”";
}
[role="main"] .quote-source {
  font-size: 0.88889rem;
  line-height: 1.38889rem;
  font-style: italic;
}

.amp {
  font-style: normal !important;
}

[class*="callout"] {
  display: block;
  padding: 0.69444rem;
  border-left: 0.34722rem solid #e5e5e5;
  background: rgba(229, 229, 229, 0.5);
  margin-bottom: 1.38889rem;
}
[class*="callout"] strong {
  font-style: normal;
}
[class*="callout"][class*="--note"] {
  border-left-color: #ccf2ff;
  background: rgba(204, 242, 255, 0.25);
}
[class*="callout"][class*="--warning"] {
  border-left-color: #ffcccc;
  background: rgba(255, 204, 204, 0.25);
}

[role="main"] > section, .contents {
  clear: both;
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
  border-top-width: 0.05556rem;
  border-top-style: solid;
  padding-top: 2.72222rem;
  margin-bottom: 2.77778rem;
  border-color: #e5e5e5;
}
[role="main"] > section::after, .contents::after {
  content: " ";
  display: block;
  clear: both;
}

.gallery {
  margin-bottom: 1.38889rem;
}
.gallery::after {
  content: " ";
  display: block;
  clear: both;
}
.gallery img {
  width: 100%;
}
.gallery > a, .gallery > img {
  margin-bottom: 0.69444rem;
  -moz-box-shadow: 0 0 9px rgba(102, 102, 102, 0.5);
  -webkit-box-shadow: 0 0 9px rgba(102, 102, 102, 0.5);
  box-shadow: 0 0 9px rgba(102, 102, 102, 0.5);
}
@media (min-width: 35em) {
  .gallery > a, .gallery > img {
    width: 48.97959%;
    float: left;
  }
  .gallery > a:nth-child(2n + 1), .gallery > img:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .gallery > a:nth-child(2n + 2), .gallery > img:nth-child(2n + 2) {
    margin-left: 51.02041%;
    margin-right: -100%;
    clear: none;
  }
}
.gallery > a {
  -moz-transition: all 150ms;
  -o-transition: all 150ms;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  display: block;
}
.gallery > a:hover, .gallery > a:focus, .gallery > a:active {
  -moz-box-shadow: 0 0 9px #005f7f;
  -webkit-box-shadow: 0 0 9px #005f7f;
  box-shadow: 0 0 9px #005f7f;
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  z-index: 10;
}

.gallery-caption {
  clear: both;
  font-size: 0.88889rem;
  line-height: 1.38889rem;
  font-style: italic;
}

.head {
  padding-top: 0.69444rem;
  background: white;
}

[rel="home"]:link, [rel="home"]:visited {
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
  padding-top: 0.9375rem;
  font-size: 2.44444rem;
  line-height: 2.77778rem;
  float: left;
  text-decoration: none;
}

[role="banner"] {
  width: 83.33333%;
  float: left;
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
  margin-bottom: 0.69444rem;
}
[role="banner"] .p-name, [role="banner"] .p-role {
  overflow: hidden;
  white-space: nowrap;
}
[role="banner"] .p-name {
  padding-top: 0.69444rem;
  font-weight: bold;
}
[role="banner"] .p-name:after {
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  content: ' [soo·zee]';
  opacity: 0;
  color: #bfbfbf;
}
[role="banner"] em {
  font-style: italic;
}
[role="banner"]:hover .p-name:after, [role="banner"]:focus .p-name:after, [role="banner"]:active .p-name:after {
  opacity: 1;
}
@media (min-width: 55em) {
  [role="banner"] {
    width: 33.33333%;
  }
}

[role="navigation"] {
  padding-top: 0.69444rem;
}
@media (min-width: 36em) and (max-width: 55em) {
  [role="navigation"] {
    text-align: center;
  }
}
@media (min-width: 55em) {
  [role="navigation"] {
    width: 66.66667%;
    float: right;
    padding-left: 0.52083rem;
    padding-right: 0.52083rem;
    padding-top: 2.08333rem;
    text-align: right;
  }
}

[id="toggle-nav"]:checked ~ [for="toggle-nav"] {
  color: #ff0080;
}

[for="toggle-nav"] {
  width: 16.66667%;
  float: right;
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
  text-align: right;
}
[for="toggle-nav"]:hover, [for="toggle-nav"]:focus, [for="toggle-nav"]:active {
  color: #191919;
  cursor: pointer;
}
@media (min-width: 55em) {
  [for="toggle-nav"] {
    display: none;
  }
}

.nav-content {
  clear: both;
  border-top-width: 0.5rem;
  border-top-style: solid;
  padding-top: 0.54167rem;
  margin-bottom: -4.16667rem;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  border-color: #ff0080;
}
@media (max-width: 52em) {
  .nav-content {
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
}
@media (min-width: 55em) {
  .nav-content {
    margin-bottom: 0.69444rem;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    opacity: 1;
    max-height: 13.88889rem;
    border: 0;
    padding-top: 0;
  }
}

[id="toggle-nav"]:checked ~ .nav-content {
  margin-bottom: 0.69444rem;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  opacity: 1;
  max-height: 13.88889rem;
}

[data-nav] {
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
  display: block;
  white-space: nowrap;
}
[data-nav] [data-icon] {
  font-size: 0.77778rem;
  line-height: 1.38889rem;
}
[data-nav]:link, [data-nav]:visited {
  text-decoration: none;
}
[data-nav][href^='http://']:hover [data-icon]:before, [data-nav][href^='http://']:focus [data-icon]:before, [data-nav][href^='http://']:active [data-icon]:before {
  content: "\e319";
}
@media (min-width: 36em) {
  [data-nav] {
    display: inline-block;
  }
}

.content {
  clear: both;
  border-top-width: 0.5rem;
  border-top-style: solid;
  padding-top: 3.66667rem;
  position: relative;
  border-color: #ff0080;
  padding-bottom: 2.77778rem;
  background: white;
}
.content::after {
  border-top: 1.38889rem solid white;
  border-left-width: 1.38889rem;
  border-right-width: 1.38889rem;
  margin-top: -9px;
}
.content::before {
  border-top: 1.5625rem solid #ff0080;
  border-left-width: 1.5625rem;
  border-right-width: 1.5625rem;
}
.content::before, .content::after {
  top: 0;
  left: 50%;
  margin-left: -1.38889rem;
}
.content::before {
  margin-left: -1.5625rem;
}

[role="main"] {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}
[role="main"]::after {
  content: " ";
  display: block;
  clear: both;
}

.foot {
  border-top-width: 0.5rem;
  border-top-style: solid;
  padding-top: 3.66667rem;
  position: relative;
  border-color: deepskyblue;
  padding-top: 2.77778rem;
  padding-bottom: 0.69444rem;
}
.foot::after {
  border-top: 1.38889rem solid white;
  border-left-width: 1.38889rem;
  border-right-width: 1.38889rem;
  margin-top: -9px;
}
.foot::before {
  border-top: 1.5625rem solid deepskyblue;
  border-left-width: 1.5625rem;
  border-right-width: 1.5625rem;
}
.foot::before, .foot::after {
  top: 0;
  left: 50%;
  margin-left: -1.38889rem;
}
.foot::before {
  margin-left: -1.5625rem;
}

[role="contentinfo"] {
  overflow: hidden;
  *zoom: 1;
  font-size: 0.88889rem;
  line-height: 1.38889rem;
}
[role="contentinfo"] p {
  margin-bottom: 1.38889rem;
}
[role="contentinfo"] .credit, [role="contentinfo"] .colophon {
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
}
[role="contentinfo"] .credit {
  font-style: italic;
}
[role="contentinfo"] .license {
  font-style: normal;
}
[role="contentinfo"] .license:after {
  content: ' | ';
}

@media (min-width: 40em) {
  .foot {
    padding-top: 1.38889rem;
    padding-bottom: 0rem;
  }

  .credit, .colophon {
    width: 50%;
    float: left;
    padding-left: 0.52083rem;
    padding-right: 0.52083rem;
    max-width: 26.38889rem;
  }

  .colophon {
    float: right;
  }
}
.contents > ul ul {
  list-style-type: none;
  font-style: italic;
}
.contents > ul ul, .contents > ul ul li {
  margin: 0;
  padding: 0;
  display: inline;
}
.contents > ul ul li:after {
  content: ", ";
}
.contents > ul ul li:last-child:after {
  content: "";
}
.contents > ul ul li.last:after {
  content: "";
}
.contents > ul ul {
  display: block;
}
.contents > ul a {
  display: inline-block;
}

.release-info {
  margin-bottom: 1.38889rem;
}
.release-info h2 {
  margin: 0;
}
.release-info + .intro {
  padding-top: 0rem;
  border: 0;
}
.release-info a:link, .release-info a:visited {
  color: white;
  text-decoration: none;
}
.release-info a:hover, .release-info a:focus, .release-info a:active {
  text-decoration: underline;
}

.version {
  padding-top: 0.34722rem;
  padding-bottom: 0.34722rem;
  margin-bottom: 0.69444rem;
  padding-left: 0.52083rem;
  padding-right: 0.52083rem;
  border-radius: 0.34722rem;
  background: #0098cc;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 95, 127, 0.5);
  text-align: center;
}
.version + .version {
  background: #33cbff;
}

.version-title {
  font-weight: bold;
  margin-right: 0.69444rem;
}

.version-details {
  display: inline-block;
}
[role='main'] .version-details {
  margin: 0;
  padding: 0;
}
.version-details li {
  list-style: none;
  display: inline-block;
  margin-right: 0.69444rem;
}
.version-details [href^='http']::before {
  content: "\e319";
  font-size: 0.66667rem;
  line-height: 1.38889rem;
  margin-right: .4em;
}
.version-details [href*="github"]::before {
  content: "\e600";
}
.version-details [href*="susydocs"]::before {
  content: "\e603";
}

.head {
  overflow: hidden;
  *zoom: 1;
}

.screenshots .site-link {
  background: no-repeat scroll top right;
  -moz-background-size: 130% auto;
  -o-background-size: 130% auto;
  -webkit-background-size: 130% auto;
  background-size: 130% auto;
  -moz-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 59.8%;
}
.screenshots .site-link:hover, .screenshots .site-link:focus, .screenshots .site-link:active {
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.screenshots .site-link:hover .site-name, .screenshots .site-link:focus .site-name, .screenshots .site-link:active .site-name {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
@media (min-width: 35em) {
  .screenshots .site-link {
    padding-bottom: 29.2898%;
  }
}
.screenshots .site-name {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 22.5%;
  right: -2px;
  -moz-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  -moz-transform: translate3d(102%, 0, 0);
  -webkit-transform: translate3d(102%, 0, 0);
  transform: translate3d(102%, 0, 0);
  font-size: 0.77778rem;
  line-height: 1.38889rem;
  -moz-box-shadow: 0 0 0.34722rem rgba(102, 102, 102, 0.5);
  -webkit-box-shadow: 0 0 0.34722rem rgba(102, 102, 102, 0.5);
  box-shadow: 0 0 0.34722rem rgba(102, 102, 102, 0.5);
  content: attr(data-title);
  overflow: hidden;
  opacity: 0;
  display: block;
  z-index: 2;
  padding-top: 26%;
  background-color: rgba(255, 0, 128, 0.95);
  color: white;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 35em) {
  #everyone ul {
    margin: 0 -0.52083rem;
  }
  #everyone ul::after {
    content: " ";
    display: block;
    clear: both;
  }
  #everyone ul li {
    width: 50%;
    float: left;
    padding-left: 0.52083rem;
    padding-right: 0.52083rem;
    list-style: none;
  }
}

.c {
  color: #bfbfbf;
}

/* Comment */
.err {
  color: #bfbfbf;
}

/* Error */
.g {
  color: #999999;
}

/* Generic */
.k {
  color: #666666;
}

/* Keyword */
.l {
  color: #999999;
}

/* Literal */
.n {
  color: #999999;
}

/* Name */
.o {
  color: #666666;
}

/* Operator */
.x {
  color: deepskyblue;
}

/* Other */
.p {
  color: #666666;
}

/* Punctuation */
.cm {
  color: #bfbfbf;
}

/* Comment.Multiline */
.cp {
  color: #666666;
}

/* Comment.Preproc */
.c1 {
  color: #bfbfbf;
}

/* Comment.Single */
.cs {
  color: #666666;
}

/* Comment.Special */
.gd {
  color: #ff0080;
}

/* Generic.Deleted */
.ge {
  color: #bfbfbf;
  font-style: italic;
}

/* Generic.Emph */
.gr {
  color: deepskyblue;
}

/* Generic.Error */
.gh {
  color: deepskyblue;
}

/* Generic.Heading */
.gi {
  color: #666666;
}

/* Generic.Inserted */
.go {
  color: #bfbfbf;
}

/* Generic.Output */
.gp {
  color: #bfbfbf;
}

/* Generic.Prompt */
.gs {
  color: #bfbfbf;
  font-weight: bold;
}

/* Generic.Strong */
.gu {
  color: deepskyblue;
}

/* Generic.Subheading */
.gt {
  color: #bfbfbf;
}

/* Generic.Traceback */
.kc {
  color: deepskyblue;
}

/* Keyword.Constant */
.kd {
  color: deepskyblue;
}

/* Keyword.Declaration */
.kn {
  color: #666666;
}

/* Keyword.Namespace */
.kp {
  color: #666666;
}

/* Keyword.Pseudo */
.kr {
  color: deepskyblue;
}

/* Keyword.Reserved */
.kt {
  color: deepskyblue;
}

/* Keyword.Type */
.ld {
  color: #bfbfbf;
}

/* Literal.Date */
.m {
  color: #ff0080;
}

/* Literal.Number */
.s {
  color: #ff0080;
}

/* Literal.String */
.na {
  color: #cc0000;
}

/* Name.Attribute */
.nb {
  color: deepskyblue;
}

/* Name.Builtin */
.nc {
  color: #ff0080;
}

/* Name.Class */
.no {
  color: deepskyblue;
}

/* Name.Constant */
.nd {
  color: deepskyblue;
}

/* Name.Decorator */
.ni {
  color: deepskyblue;
}

/* Name.Entity */
.ne {
  color: deepskyblue;
}

/* Name.Exception */
.nf {
  color: deepskyblue;
}

/* Name.Function */
.nl {
  color: #bfbfbf;
}

/* Name.Label */
.nn {
  color: #ff0080;
}

/* Name.Namespace */
.nx {
  color: #bfbfbf;
}

/* Name.Other */
.py {
  color: #bfbfbf;
}

/* Name.Property */
.nt {
  color: #005f7f;
}

/* Name.Tag */
.nv {
  color: #005f7f;
}

/* Name.Variable */
.ow {
  color: #666666;
}

/* Operator.Word */
.w {
  color: #bfbfbf;
}

/* Text.Whitespace */
.mf {
  color: #ff0080;
}

/* Literal.Number.Float */
.mh {
  color: #ff0080;
}

/* Literal.Number.Hex */
.mi {
  color: #ff0080;
}

/* Literal.Number.Integer */
.mo {
  color: #ff0080;
}

/* Literal.Number.Oct */
.sb {
  color: #bfbfbf;
}

/* Literal.String.Backtick */
.sc {
  color: #ff0080;
}

/* Literal.String.Char */
.sd {
  color: #bfbfbf;
}

/* Literal.String.Doc */
.s2 {
  color: #ff0080;
}

/* Literal.String.Double */
.se {
  color: deepskyblue;
}

/* Literal.String.Escape */
.sh {
  color: #bfbfbf;
}

/* Literal.String.Heredoc */
.si {
  color: #ff0080;
}

/* Literal.String.Interpol */
.sx {
  color: #ff0080;
}

/* Literal.String.Other */
.sr {
  color: deepskyblue;
}

/* Literal.String.Regex */
.s1 {
  color: #ff0080;
}

/* Literal.String.Single */
.ss {
  color: #ff0080;
}

/* Literal.String.Symbol */
.bp {
  color: deepskyblue;
}

/* Name.Builtin.Pseudo */
.vc {
  color: deepskyblue;
}

/* Name.Variable.Class */
.vg {
  color: deepskyblue;
}

/* Name.Variable.Global */
.vi {
  color: deepskyblue;
}

/* Name.Variable.Instance */
.il {
  color: #ff0080;
}

/* Literal.Number.Integer.Long */
