<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />

  {% block redirect %}{% endblock %}

  <!-- Page Info -->
  <title>{% block title %}Susy{% endblock %}</title>
  <meta name="description" content="{% block description %}Custom layout engine for Sass{% endblock description %}" />

  <!-- Site Info -->
  {% block robots %}<meta name="robots" content="index, follow" />{% endblock %}
  <meta name="author" content="{{ config.site_author }}" />
  <meta name="keywords" content="susy, layout, grids, css, sass, compass, responsive, rwd, web, design" />
  <meta name="language" content="en-us" />
</head>
<body id="susy" style="opacity: 0;" {% block onload %}{% endblock %}>
  <h1>Susy has moved to <a href="http://oddbird.net/susy">oddbird.net/susy</a></h1>
</body>
</html>
