// Division
// ========

$section-border: xxxsmall;
$section-arrow-size: 1;

@mixin section-arrow(
  $color,
  $size: $section-arrow-size,
  $border: $section-border
) {
  @include leading-border(size($border), $size + 2);
  position: relative;
  border-color: $color;

  @include arrow(rhythm($size) down $bg-color, after, $root: null) {
    margin-top: - size($border);
  }
  @include arrow(rhythm($size) down $color, before, $root: null);

  &::before, &::after {
    top: 0;
    left: 50%;
    margin-left: rhythm(- ($size));
  }
}
