// Gallery
// =======

$gallery-break: 35em;

.gallery {
  @include susy-clearfix;
  @include trailer;

  > a, > img {
    @include trailer(.5);
    @include box-shadow(0 0 size(xxxsmall) color(dark, .5));

    @include breakpoint($gallery-break) {
      @include span(5 of 10 after);
      &:nth-child(even) { @include last(of 10 after); }
    }
  }

  > a {
    @include transition(all 150ms);
    display: block;

    @include focus {
      @include box-shadow(0 0 size(xxxsmall) color(darker $accent));
      @include scale(1.05);
      z-index: 10;
    }
  }

  img { width: 100%; }
}

.gallery-caption {
  @include break;
  @include font-size(small);
  font-style: italic;
}
