// Gallery
// =======

$gallery-break: 35em;

.gallery {
  @include susy-clearfix;
  @include trailer;

  img { width: 100%; }
}

.gallery-item {
  @include trailer(.5);
  @include box-shadow(0 0 size(xxxsmall) color(dark, .5));

  @include breakpoint($gallery-break) {
    @include span(5 of 10 split);

    &.full {
      @include full(of 10 split);
    }
  }
}

.gallery-link {
  @include transition(all 150ms);
  display: block;

  @include focus {
    @include box-shadow(0 0 size(xxxsmall) color(darker $accent));
    z-index: 10;
  }
}

.gallery-caption {
  @include break;
  @include font-size(small);
  font-style: italic;
}

[data-media] {
  @include trailer;

  iframe,
  img,
  video {
    width: 100%;
  }
}

[data-media='left'],
[data-media='right'] {
  width: percentage(1/3);
}

[data-media='left'] {
  float: left;
  margin-right: rhythm(2);
}

[data-media='right'] {
  float: right;
  margin-left: rhythm(2);
}
