// Release Info
// ============

.release-info {
  @include trailer(1);

  h2 {
    @extend %is-hidden;
    margin: 0;
  }

  + .intro {
    @include padding-leader(0);
    border: 0;
  }

  a {
    @include link {
      color: white;
      text-decoration: none;
    }
    @include focus {
      text-decoration: underline;
    }
  }
}

.version {
  @include rhythm-padding(.25);
  @include trailer(.5);
  @include gutters;
  border-radius: rhythm(.25);
  background: color(dark $accent);
  color: white;
  text-shadow: 0 1px 0 color(darker $accent, .5);
  text-align: center;

  + .version { background: color(light $accent); }
}

.version-title {
  font-weight: bold;
  margin-right: rhythm(.5);
}

.version-details {
  display: inline-block;
  [role='main'] & {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    display: inline-block;
    margin-right: rhythm(.5);
  }

  [href^='http'] {
    @include icon('external') {
      @include font-size(xxsmall);
      margin-right: .4em;
    }
  }
  [href*="github"] { @include icon('github'); }
  [href*="susydocs"] { @include icon('list'); }
}
