// Release Info
// ============

.release-info {
  @include trailer(1);

  h2 {
    @extend %is-hidden;
    margin: 0;
  }

  + .intro {
    @include padding-leader(0);
    border: 0;
  }
}

.version {
  @include rhythm-padding(.25);
  @include trailer(.5);
  @include gutters;
  border-radius: rhythm(.25);
  background: color(dark $accent);
  color: white;
  text-shadow: 0 1px 0 color(darker $accent, .5);

  + .version { background: color(light $accent); }
}

.version-title { margin-right: rhythm(.5); }

.version-details {
  display: inline-block;
  [role='main'] & {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    display: inline-block;
    margin-right: rhythm(.5);
  }
  a {
    @include link {
      color: white;
      font-weight: bold;
      text-decoration: none;
      &[href^='http']:before {
        opacity: .5;
        color: white;
      }
    }
    @include focus {
      text-decoration: underline;
      &[href^='http']:before {
        opacity: 1;
      }
    }
  }
}
