// Screenshots Gallery
// ===================

$screenshot-ratio: 598/1000;

.screenshots {
  .site-link {
    @include background(no-repeat scroll top right);
    @include background-size(130% auto);
    @include transition(all 150ms ease-in);
    overflow: hidden;
    position: relative;
    height: 0;
    padding-bottom: $screenshot-ratio * 100%;

    @include focus {
      @include background-size(100%);
      .site-name {
        @include translate3d(0, 0, 0);
        opacity: 1;
      }
    }

    @include breakpoint($gallery-break) {
      &:not([class~='full']) {
        padding-bottom: $screenshot-ratio * span(5 of 10 after);
      }
    }
  }

  .site-name {
    @include stretch(-2px, -2px, -2px, 22.5%);
    @include transition(all 150ms ease-out);
    @include translate3d(102%, 0, 0);
    @include font-size(xsmall);
    @include box-shadow(0 0 rhythm(.25) color($base, .5));
    content: attr(data-title);
    overflow: hidden;
    opacity: 0;
    display: block;
    z-index: 2;
    padding-top: 26%;
    background-color: color($alt, .95);
    color: white;
    text-transform: uppercase;
    text-align: center;
  }
}

#everyone ul {
  @include breakpoint($gallery-break) {
    @include susy-clearfix;
    margin: 0 0 - gutters();
    li {
      @include span(50%);
      list-style: none;
    }
  }
}
