<footer role="contentinfo">
  <p class="credit">
    <b class="license">
      Copyright &copy; 2013
      <a href="http://eric.andmeyer.com/">Eric A. Meyer</a>
    </b>

    with major contributions from
    {% for contrib in config.credit %}
      {% if loop.last %}and{% endif %}
      <a href="{{ contrib.url }}">{{ contrib.name|safe }}</a>{% if loop.last %}.{% else %},{% endif %}
    {% endfor %}
  </p>

  <p class="colophon">
    Built with HTML5 and CSS3,
    using
    {% for dep in config.colophon %}
      {% if loop.last %}and{% endif %}
      <a href="{{ dep.url }}">{{ dep.name|safe }}</a>{% if loop.last %}.{% else %},{% endif %}
    {% endfor %}
  </p>
</footer>
