<footer role="contentinfo">
  <p class="credit">
    <b class="license">
      Copyright &copy; 2013
      <a href="http://eric.andmeyer.com/">Eric A. Meyer</a>
    </b>

    with major contributions from
    <a href="http://twitter.com/shlidor">Tsachi Schlidor</a>,
    <a href="http://twitter.com/mragray">Aaron Gray</a>,
    <a href="http://twitter.com/snugug">Sam Richard</a>,
    <a href="http://twitter.com/scottkellum">Scott Kellum</a>,
    <a href="http://twitter.com/rachelnabors">Rachel Nabors</a>,
    <a href="http://twitter.com/jina">Jina Bolton</a>,
    <a href="http://twitter.com/dannyprose">Danny Palmer</a>,
    <a href="http://twitter.com/codingdesigner">Mason Wendell</a>,
    and
    <a href="https://github.com/ericam/susy/graphs/contributors">many&nbsp;others</a>.
  </p>
  <p class="colophon">
    Built with HTML5 and CSS3,
    with
    <a href="https://github.com/ericam/susysite">GitHub</a>,
    <a href="http://github.com/mitsuhiko/rstblog/">rstBlog</a>,
    <a href="http://www.python.org/">Python</a>,
    <a href="http://jinja.pocoo.org/">Jinja</a>,
    <a href="http://compass-style.org/">Compass</a>,
    <a href="http://sass-lang.com">Sass</a>,
    <a href="http://susy.oddbird.net">Susy</a>,
    <a href="http://breakpoint-sass.com">Breakpoint</a>,
    <a href="http://pygments.org/">Pygments</a>,
    <a href="http://icomoon.io">IcoMoon</a>,
    <a href="https://github.com/adobe/source-sans-pro">Source Sans Pro</a>,
    and
    <a href="https://github.com/adobe/source-code-pro">Source&nbsp;Code&nbsp;Pro</a>.
  </p>
</footer>
